In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/raw/in_domain_train.tsv', sep='\t')
df.head()

,gj04,1,Unnamed: 2,"Our friends won't buy this analysis, let alone the next one we propose."
0,gj04,1,NaN,One more pseudo generalization and I'm giving up.
1,gj04,1,NaN,One more pseudo generalization or I'm giving up.
2,gj04,1,NaN,"The more we study verbs, the crazier they get."
3,gj04,1,NaN,Day by day the facts are getting murkier.
4,gj04,1,NaN,I'll fix you a drink.

In [15]:
# add column names
df.columns = ['gj04', 'Misc1', 'Misc', 'text']

In [16]:
train = df
train.head()

   gj04  Misc1 Misc                                               text
0  gj04      1  NaN  One more pseudo generalization and I'm giving up.
1  gj04      1  NaN   One more pseudo generalization or I'm giving up.
2  gj04      1  NaN     The more we study verbs, the crazier they get.
3  gj04      1  NaN          Day by day the facts are getting murkier.
4  gj04      1  NaN                              I'll fix you a drink.

In [18]:
test = pd.read_csv('/Users/emmetthintz/Documents/2024Fall/NLP/Midterm/data/raw/in_domain_dev.tsv', sep='\t')
test.head()

   gj04  1 Unnamed: 2    The sailors rode the breeze clear of the rocks.
0  gj04  1        NaN  The weights made the rope stretch over the pul...
1  gj04  1        NaN         The mechanical doll wriggled itself loose.
2  cj99  1        NaN        If you had eaten more, you would want less.
3  cj99  0          *           As you eat the most, you want the least.
4  cj99  0          *   The more you would want, the less you would eat.

In [19]:
test.columns = ['gj04', 'Misc1', 'Misc', 'text']

In [22]:
print(train.shape, test.shape)

(8550, 4) (526, 4)